* {
    margin: 0;
    padding: 0;
}

h1 {
    text-decoration: underline wavy rgb(30, 162, 136) 3px;
    text-align: center;
}


#box-container {
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
    border: 3px solid brown;
    flex-wrap: wrap;
}

.items {
    margin: 10px 0;
    width: 140px;
    height: 100px;
    background-color: whitesmoke;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
}